/* default html items */
p {
    color: white;
}

body {
    padding: 0px !important;
    margin: 0px auto !important;
    max-width: unset !important;
    max-width: 2000px !important;
}

button {
    border-radius: 0.6rem !important;
    margin: 0.1rem !important;
}

input {
    margin: 0.1rem !important;
}

/* The whole app is inside this */
.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap: 0.4rem;
}

/* An item holds one of the apps (Each app inside one of these) */
.item {
    border-radius: 0.6rem;
    padding: 0.25rem;
    margin: 0.5rem;
    min-width: 15rem;
    max-width: fit-content;
    box-shadow: 0 0 1rem .01rem black;
}

.item-flex-start {
    align-self: flex-start;
}

.shadow-debugging {
    box-shadow: 0 0 1rem .01rem purple;
}

.shadow-error {
    box-shadow: 0 0 1rem .01rem blue;
}

.item-max-width-xsm {
    max-width: 17.2rem;
}

.item-max-width-sm {
    max-width: 20rem;
}

.item-max-width-md {
    max-width: 30rem;
}

.item-max-width-lg {
    max-width: 40rem;
}

/* An input column holds input fields */
.input_column_half {
    display: flex;
    flex: 1 1;
    flex-wrap: wrap;
}

/* A row holds fields within a column */
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Inputs */

.input_block {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.25rem;
}

.input_label {
    padding-right: 0.5rem;
}

.input_input {
    flex-grow: 1;
    min-width: 5rem;
}

/* Result section */

.result-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5rem;
}

.result-item {
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    margin-right: 0.15rem;
    margin-left: 0.15rem;
    border-style: solid;
    border-color: grey;
    border-radius: 0.6rem;
    border-width: 0.1rem;
}

.bold {
    font-weight: bold;
}

/* Other styles */
.green {
    color: #0eff00cc;
    font-weight: bold;
}

.red {
    color: #ff0000cc;
    font-weight: bold;
}

.grey {
    color: grey;
    font-weight: bold;
}

.center-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-center {
    display: grid;
    align-items: center;
    justify-content: center;
}

.center {
    text-align: center;
}

.no-bottom {
    margin-bottom: 0;
}

.no-top {
    margin-top: 0;
}

.small-text {
    font-size: 0.8rem;
}

/* Enums & options */
.item-chosen {
    border: grey;
    border-style: solid;
    border-width: 0.1rem;
    padding: 0.3rem;
}

.item-not-chosen {
    padding: 0.3rem;
}

.action-button {
    padding: 0.5rem 1rem;
}

